* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", system-ui;
}

.container {
  width: 1700px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.news__title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.news__title {
  font-size: 50px;
  font-weight: bold;
}
.news__title-link {
  font-size: 25px;
  color: #000;
}
.news__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.news__item {
  display: flex;
  align-items: center;
  font-size: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(92, 92, 92, 0.2);
}
.news__item a {
  color: #F9B300;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.news__item a::after {
  content: "";
  display: block;
  background-image: url(../img/Arrow_2.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 13px;
  height: 20px;
}
.news__item-text {
  max-width: 459px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: auto;
}
.news__item-text_1 {
  grid-column: 1/4;
}